.alignment{
    margin-left: 37%;
    margin-top: 100px;
    
    }
    .marginfromtop
    {
        margin-top: 7px;
    }
    .buttons{
        background-color: blue; /* Green */
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        margin: 4px 2px;
        cursor: pointer;
      }
      .buttonss{
        background-color: green; /* Green */
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        margin: 4px 2px;
        cursor: pointer;
      }